<section id="main-content">
<section class="panel" style = "margin:20px">
<h3 style="background:#2a3542;color:#ffffff;height:40px;padding-top:5px;padding-left:12px">Apply For Leave</h3></section>

<%= render 'form' %>
<%#= link_to 'Back', user_holidays_path(current_user),class: "btn btn-primary btn-xs" %>
</section>
