<section id="main-content">
  <section class="panel">
   <div class="col-lg-12">
     <section class="panel" style= padding-top:5px;>
        <header class="panel-heading" style="background:#2a3542;height:50px;color:#ffffff;">
          <bold><h4>Change Password</h4></bold>
        </header>
        <%= form_for(@user, :url => update_password_user_user_path(current_user,@user) ) do |f| %>
        <div class=" col-lg-3">
        </div>
           <div class="panel-body">
           <div class="form">
              <div class=" form col-lg-9">
                  <form class="cmxform form-horizontal tasi-form" id="commentForm" method="get" action="">
             <!-- <div class="form-group "> -->
                      <div class="form-group ">
                         <label class="col-lg-3 control-label"> New Password </label>
                             <div class="col-lg-8">
                                <%= f.password_field :password, :autocomplete => "off"  %><br />
                             </div>
                      </div>
    
                      <div class="form-group ">
                         <label class="col-lg-3 control-label"> Confirm Password </label>
                           <div class="col-lg-8">
                             <%= f.password_field :password_confirmation %><br />
                           </div>
                      </div>

                       <div class="form-group">
                         <div class="col-lg-offset-3 col-lg-8">
                            <center><button class="btn btn-warning" type="back">Back</button>
                            <button class="btn btn-danger" type="submit">Change Password</button>
                            </center>

                         </div>
                       </div>
                       
   <!-- <div class="col-lg-offset-2 col-lg-10">
    <button class="btn btn-lg btn-login btn-block" type="submit">"Add a new academic_skill"</button>
  </div> -->
              </form>
           </div>
       </div>
    <% end %>
    </div>
 </section>
</section>
