<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.first_name %>,</p>
    <br/>
   
    <p>
      Your feedback is successfully submitted in our MIS system.<br>
    </p>
  
    <p>Thanks for joining Affimintus family and have a great time!</p>
    <br/>
    <p>Best</p>
    <p>Team Affimintus</p>
  </body>
</html>