<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.first_name %>,</p>
     <p>
        Your leave for date &nbsp;<%= @holiday.leave_from_date %> to <%= @holiday.leave_to_date %>
        has been Rejected,due to <%= @holiday.comment %>.<br/>
        &nbsp;Team Affimintus
     </p>
  </body>
</html>