<footer class="footer navbar-fixed-bottom custom-foot">
  <div class="text-center">
    copyright &copy; <%= Time.now.year %> Affimintus Technologies
    <a href="#" class="go-top">
       <i class="fa fa-angle-up"></i>
    </a>
  </div>
</footer>